body {
  background-image: linear-gradient(50deg, #5bc8e5, #941fea);
  height: 100%;
  width: 100%;
}

#regform {
  display: block;
  margin: auto;
  background-color: white;
  height: 400px;
  max-width: 400px;
  margin-top: 87px;
}

H1 {
  font-size: 30px;
  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 112px;
}
input,
label {
  margin-left: 27px;
  height: 30px;
  width: 280px;
  margin-bottom: 15px;
}
.text {
  margin-left: 27px;
}
